nimcache/
nimblecache/
htmldocs/

# Ignore files with no extensions (compiled binaries) except LICENSE
*
!/**/
!*.*
!LICENSE

# Ignore FASTA and structure files
*.fa*
*.dbn

# No need to store the Snakemake internals
.snakemake/*

# Put here by my Mac
.DS_Store